{{ >partials/header }}
{{ #banner }}
    <section class="banner" style="background-image: url('images/{{ imgBackground }}')">{{ title }}</section>
    <h2>{{ title }} disponíveis para adoção</h2>
{{ /banner }}

<div class="container list">
    {{ #list }}
        <div class="item">
            <a href="/search?q={{ name }}" rel="noopener noreferrer">
            <img src="images/{{ image }}" class="item--image" alt="{{ name }}" />
            <div class="item--name">{{ name }}</div>
            <div class="item--color">Cor: {{ color }}</div>
            <div class="item--genre">Gênero: {{ sex }}</div>
        </a>
        </div>
    {{ /list }}
</div>
{{ ^list }}
    <div class="container no-list">
        <h2>A busca não encontrou animais com estes termos! </h2>
    </div>
{{ /list }}
{{ >partials/footer }}